[mysqld]

basedir=/opt/mysql
datadir=/opt/mysql/data
socket=/opt/mysql/mysql.sock

port=3306
max_connections=200
character-set-server=utf8
default-storage-engine=INNODB

log-error=/opt/mysql/logs/error.log
pid-file=/opt/mysql/mysql.pid

[client]
port=3306
socket=/opt/mysql/mysql.sock
default-character-set=utf8
