[mysqld]
# 这里的路径替换为你实际的绝对路径
basedir=/opt/mysql
datadir=/opt/mysql/data
socket=/opt/mysql/mysql.sock

# 端口，通常是 3306
port=3306

# 允许最大连接数 (你的 Django 项目用了连接池，这里稍微设大一点)
max_connections=200

# 字符集设置
character-set-server=utf8
default-storage-engine=INNODB

# 日志配置
log-error=/opt/mysql/logs/error.log
pid-file=/opt/mysql/mysql.pid

[client]
port=3306
socket=/opt/mysql/mysql.sock
default-character-set=utf8
